Package: lua5.1-doc
Source: lua5.1
Version: 5.1.5-8.1
Architecture: all
Maintainer: John V. Belmonte <jbelmonte@debian.org>
Installed-Size: 382
Section: doc
Priority: optional
Homepage: http://www.lua.org
Description: Documentation for the Lua language version 5.1
 Lua is a powerful, light-weight programming language designed for extending
 applications.  The language engine is accessible as a library, having a C
 API which allows the application to exchange data with Lua programs and also
 to extend Lua with C functions.  Lua is also used as a general-purpose,
 stand-alone language through the simple command line interpreter provided.
 .
 This package contains the official manual covering the Lua language and C API,
 examples, etc.
