Package: liblua5.1-0
Source: lua5.1
Version: 5.1.5-8.1
Architecture: amd64
Maintainer: John V. Belmonte <jbelmonte@debian.org>
Installed-Size: 1310
Depends: libc6 (>= 2.11), libgcc1 (>= 1:3.0), libstdc++6 (>= 4.1.1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.lua.org
Description: Shared library for the Lua interpreter version 5.1
 Lua is a powerful, light-weight programming language designed for extending
 applications.  The language engine is accessible as a library, having a C
 API which allows the application to exchange data with Lua programs and also
 to extend Lua with C functions.  Lua is also used as a general-purpose,
 stand-alone language through the simple command line interpreter provided.
 .
 This package contains runtime libraries.  You shouldn't need to install it
 explicitly.
