Package: liblua5.1-0-dbg
Source: lua5.1
Version: 5.1.5-8.1
Architecture: amd64
Maintainer: John V. Belmonte <jbelmonte@debian.org>
Installed-Size: 977
Depends: liblua5.1-0 (= 5.1.5-8.1)
Section: debug
Priority: extra
Multi-Arch: same
Homepage: http://www.lua.org
Description: Debug symbols for the Lua shared library interpreter
 This package contains the debugging symbols for liblua5.1 and lua5.1
Build-Ids: 4eb3018976d882b1fbd7956c95aecbb7a0dc7907 6b48d83d878175c9476afb0ec0115162cf193b08 a02f9d329a610a52d3b948d462b4020265662f83 d88bb70270facce37c7b74997c426e8de7e1f481
