Package: liblua5.1-0-dev
Source: lua5.1
Version: 5.1.5-8.1
Architecture: amd64
Maintainer: John V. Belmonte <jbelmonte@debian.org>
Installed-Size: 11913
Depends: liblua5.1-0 (= 5.1.5-8.1), libc6-dev | libc-dev, libreadline-dev
Recommends: pkg-config, libtool, libtool-bin
Conflicts: liblua5.1-dev
Provides: liblua5.1-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.lua.org
Description: Development files for the Lua language version 5.1
 Lua is a powerful, light-weight programming language designed for extending
 applications.  The language engine is accessible as a library, having a C
 API which allows the application to exchange data with Lua programs and also
 to extend Lua with C functions.  Lua is also used as a general-purpose,
 stand-alone language through the simple command line interpreter provided.
 .
 This package contains developer resources for using the Lua library.
 Install it if you are developing programs which use the Lua C API, both
 in C or C++.
